---
- name: Import assert.yml
  ansible.builtin.import_tasks: assert.yml
  delegate_to: localhost
  run_once: true
- name: Install requirements (package)
  ansible.builtin.package:
    name: "{{ item.name }}"
    state: present
  loop: "{{ anaconda_requirements }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.type == "package"
- name: Install requirements (pip)
  ansible.builtin.pip:
    name: "{{ item.name }}"
    state: present
  loop: "{{ anaconda_requirements }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.type == "pip"
- name: Download anaconda
  ansible.builtin.get_url:
    dest: "{{ anaconda_download_dest }}"
    mode: "0640"
    url: "{{ anaconda_url }}"
- name: Install anaconda
  ansible.builtin.command:
    cmd: bash {{ anaconda_download_dest }}/{{ anaconda_file }} -b -p {{ anaconda_prefix }}
    creates: "{{ anaconda_prefix }}"
- name: Create anaconda service
  ansible.builtin.import_role:
    name: buluma.service
  vars:
    service_list:
      - description: Anaconda Notebook
        name: anaconda
        start_command: "{{ anaconda_prefix }}/bin/jupyter notebook --ip={{ anaconda_ip }} --port={{ anaconda_port }} --allow-root"
- name: Change selinux settings
  when:
    - ansible_selinux.status is defined
    - ansible_selinux.status == "enabled"
  block:
    - name: Check for domain_can_mmap_files seboolean
      ansible.builtin.command:
        cmd: getsebool domain_can_mmap_files
      changed_when: false
      check_mode: false
      register: anaconda_getsebool_domain_can_mmap_files
    - name: Modify selinux settings
      ansible.posix.seboolean:
        name: domain_can_mmap_files
        persistent: true
        state: true
      when:
        - anaconda_getsebool_domain_can_mmap_files.rc == 0
  rescue:
    - name: Could not change selinux settings
      ansible.builtin.debug:
        msg: Could not change selinux settings, continuing.
- name: Start and enable anaconda
  ansible.builtin.service:
    enabled: true
    name: anaconda
    state: started
