name: TODO 2 Issue
true:
  push:
    branches:
    - master
    - main
    paths-ignore:
    - '**/README.md'
    - '**/CHANGELOG.md'
    tags-ignore:
    - '*'
permissions: write-all
concurrency:
  cancel-in-progress: true
  group: ${{ github.ref }}-${{ github.workflow }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - id: todo
      name: TODO to Issue
      uses: buluma/todo-to-issue-action@v2.0.2
      with:
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
